
{{ define "main" -}}

{{ if (fileExists "/data/home.json") -}}

    {{ $home := getJSON "/data/home.json" }}
    {{ $intro := $home.braican_intro_copy }}
    {{ $main := $home.braican_main_copy }}

    <section class="intro">
        <div class="article__intro">
            <h1 class="article__introtext">{{ $intro }}</h1>
        </div>

        <div class="article__content content__main l-container">
            {{ $main | safeHTML }}
        </div>
    </section>

    <section class="projectgallery">
        {{ if (fileExists "/data/projects.json") }}
            {{ $projects := getJSON "/data/projects.json" }}
            {{ range $projects }}
                <div class="project">
                    {{ if .thumbnail }}
                        <img src="{{ .thumbnail }}" alt="{{ .post_title }} thumbnail">
                    {{ end }}
                    <div class="project__details">
                        <h3 class="project__title">{{ .post_title }}</h3>
                        <div class="project__excerpt">{{ .custom_fields.braican_project_excerpt }}</div>
                    </div>
                </div>
            {{ end }}
        {{- end }}

        <a href="#contact" class="project__thumb project__thumb--promo">
            <p class="project__promo">Let's get going on your project</p>
        </a>
    </section>
            

    <section class="lifestyleshot">
        <img src="/img/lifestyle-desk-1.jpg" alt="A desk and a guitar">
    </section>

    <section id="contact">

    </section>

{{- end }}

{{- end }}

