.project {
  + .project {
    border-top: 1px solid $c--gray-c;
  }

  a {
    @include pragmatica-extended;
    display: block;
    padding: 0.5em 0;
    cursor: ne-resize;
  }
}

.intro {
  position: relative;
  padding-top: 2em;
  margin-top: 2em;
  margin-bottom: 2em;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 2px;
    background-color: $c--orange;
  }
}
