
# cpu system
.DS_Store
error_log

# config files
wp-config.php
.env

# the uploads directory
api/wp-content/uploads/*

# npm
node_modules/*

# dist
dist
frontend/data/*.json
frontend/static/style.css
frontend/static/main.js
*.map
