.contactform {
    padding-top: 2em;
    line-height: 2;
}

.contact__honeypot {
    display: none;
}

.contact__intro {
    font-family: $t-serif;
    font-size: $font-size-l;
    display: block;

    + p {
        margin-top: 0;
    }
}

.contact__email {
    width: 12em;
}

.contact__message {
    margin-top: 1em;
    margin-bottom: 2em;
    display: block;
}

// submission
.submission__message {
    margin-top: 1em;
}
