.site-footer{
    padding-bottom: 120px;
}

.site-info{
    padding-top: 120px;
}


/* ------------------------------------
 * --footer contact
 * ------------------------------------*/

.footer__contact{
    padding-top: 40px;
    line-height: 1.8;

    p ~ p{
        margin-top: 1em;
    }
}
.contact__textarea{
    max-width: 520px;
}

.wpcf7-form-control-wrap.sender_name,
.wpcf7-form-control-wrap.sender_email{
    display: inline-block;
    width: 280px;

    @include lt-mobile{
        width: 240px;
    }

    input{
        max-width: 100%;
        font-size: 0.8em;
    }

    .wpcf7-not-valid{
        border: 1px solid $c-red;
    }
}

div.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors{
    border: 0;
    margin: 1em 0 0 0;
    padding: 0;
}
div.wpcf7-mail-sent-ok{
    color: $c-orange;
}
div.wpcf7-validation-errors{
    color: $c-red;
}

span.wpcf7-not-valid-tip{
    display: none;
}

