.intro__hey{
  font-family: $t-serif;
  font-size: $font-size-xl;
  line-height: $line-height-s;

  @include gt($tablet){
    position: relative;
    left: -$font-size-xl;
  }
}

.intro__main{
  padding-top: $font-size-xl;
}
