.project {
    overflow: hidden;
    padding-bottom: $spacing;

    @include gt($tablet) {
        padding-bottom: 25vh;
        align-items: flex-start;
        display: flex;
    }

    @include gt($large_tablet) {
        width: 86%;
        &:nth-child(even) {
            position: relative;
            left: 14%;
        }
    }
}

.product__thumb {
    @include block-shadow();
    flex: 1;
    margin-right: 18px;

    @include gt($tablet) {
        min-width: 400px;
    }

    img {
        display: block;
        width: 100%;
    }
}

.project__details {
    padding-top: $spacing-s;
    flex: 0 1 600px;

    @include gt($tablet) {
        padding-left: $spacing-s;

        .project:nth-child(even) & {
            order: -1;
            padding-left: 0;
            padding-right: $spacing-s;
        }
    }
}

.project__title {
    font-family: $t-serif;
    font-size: $font-size-l;
    line-height: $line-height-s;
}

.project__excerpt {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 540px;

    @include gt($tablet) {
        margin-bottom: 2em;
    }
}

.project__promo {
    text-decoration: none;
    text-align: center;
}

.project__promo {
    width: 100%;
    max-width: 400px;
    margin: auto;
    font-family: $t-serif;
    display: block;
    position: relative;
    padding-top: 40px;
    padding-bottom: $spacing;
    text-decoration: none;
    text-align: center;
    font-size: $font-size-l;
    line-height: $line-height-s;
    color: $c-text-color;
    transition: color $transition;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: $spacing - 60px;
        width: 32px;
        height: 32px;
        margin-left: -16px;
        background-image: $icon_plus;
        transition: all $transition;
    }

    &:hover {
        color: $c-orange-dark;
        &:after {
            transform: translateY(-10px);
        }
    }
}
