.project {
    overflow: hidden;
    padding-bottom: $spacing;

    @include gt($tablet) {
        padding-bottom: 25vh;
        display: flex;
    }
}

.product__thumb {
    flex: 0 0 $l-six-col;
    width: $l-six-col;
    padding-right: 60px;

    img {
        display: block;
        width: 100%;
        @include block-shadow();
    }
}

.project__details {
    padding-top: $spacing-s;
    flex: 0 0 $l-six-col;
    width: $l-six-col;
}

.project__title {
    @include headline;
    font-size: $font-size-l;
}

.project__excerpt {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 540px;

    @include gt($tablet) {
        margin-bottom: 2em;
    }
}

.project__promo {
    text-decoration: none;
    text-align: center;
}

.project__promo {
    @include headline;
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
    position: relative;
    padding-top: $spacing;
    padding-bottom: $spacing;
    text-decoration: none;
    text-align: center;
    font-size: $font-size-l;
    color: $c-text-color;
    transition: color $transition;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: $spacing - 60px;
        width: 32px;
        height: 32px;
        margin-left: -16px;
        background-image: $icon_arrow_down;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all $transition;
    }

    &:hover {
        color: $c-orange-dark;
        &:after {
            transform: translateY(10px);
        }
    }
}
