<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ $.Param "title" }}</title>
  <meta name="description" content="{{ $.Param "description" }}" />
  
  <meta property="og:description" content="{{ $.Param "description" }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="website">
  
  
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="body--{{ .Kind }} {{ with .Layout }}body--{{ . }}{{ end }}">

  <div class="wrapper">
    <main class="main-content {{ with .Layout }}main--{{ . }}{{ end }}">
      {{ block "main" . -}}{{- end }}
    </main>

  </div>

</body>
</html>
