/* ==============================================================
 *
 * Layout
 *  - util layout styles (prefixed with "l-")
 *
 * ============================================================== */

.l-container{
    margin: 0 auto;
    width: 100%;
    max-width: $container;
    padding-left: $gutter;
    padding-right: $gutter;

    @include gt-tablet{
        padding-left: $gutter * 2;
        padding-right: $gutter * 2;
    }
}

