/* ==============================================================
 *
 * Typography
 *
 * ============================================================== */


html{
    font-size: $font-size;
    @include gt($mobile){
        font-size: $font-size + 2;
    }
}
body,
button,
input,
select,
textarea {
    font-family: $t-sans-serif;
    color: $c-text-color;
    font-size: 1rem;
    line-height: $line-height;
}



/* --------------------------------------------
 * --basic
 * -------------------------------------------- */

p + p{
    margin-top: 1em;
}
a {
    color: $c-link-color;
}

button,
input[type="submit"]{
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

.intro__main a{
    box-shadow: inset 0 -2px 0 $c-dull-orange;
    text-decoration: none;
    transition: all $transition;

    &:hover{
        color: $c-white;
        box-shadow: inset 0 -1.2em $c-orange;
    }
}

/* ------------------------------------
 * --cta
 * ------------------------------------*/

.a-btn {
    display: inline-block;
    background-color: $c-orange;
    padding: .5em 1.5em;
    color: $c-white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    z-index: 3;
    transition: padding-left $transition;

    &:after{
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .2s;
        background-color: $c-link-color;
        z-index: -1;
    }
    &:hover{
        padding-left: 1.75em;
        &:after{
            transform: translateX(0);
        }
    }
}

