.layout__main {
  @include font-load(true);
  padding: spacing(8) $mobile-spacing spacing(4) $mobile-spacing;
  max-width: 1280px;

  @include mq($bp--mobile) {
    padding-left: spacing(4) + $sidebar-width;
    padding-right: spacing(4);
  }
}

.mobileFooter {
  margin-top: spacing(6);
  @include mq($bp--mobile) {
    display: none;
  }
}

.headline {
  @include mq($bp--desktop) {
    width: 32%;
    width: calc(50% - #{$sidebar-width + spacing(2)});
    position: fixed;
    padding-right: 2em;
  }

  @include mq($bp--max) {
    width: 440px;
  }
}

.body {
  @include mq($bp--desktop) {
    margin-left: 50%;
  }
}
