/* ==============================================================
 *
 * Breakpoints
 *
 * ============================================================== */

@mixin gt($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

/* ==============================================================
 *
 * UI
 *
 * ============================================================== */

@mixin block-shadow($offset: 18px) {
    box-shadow: $offset $offset 0 $c-orange;
}

/* ==============================================================
 *
 * Type
 *
 * ============================================================== */

@mixin headline() {
    font-family: $t-headline;
    font-weight: $bold;
}
