/* ==============================================================
 *
 * Colors
 *
 * ============================================================== */

$c-white:            #fff;
$c-text-color:       #404040;
$c-link-color:       #666;
$c-form-placeholder: #aaa;
$c-orange:           #c60;
$c-red:              #c00;


/* ==============================================================
 *
 * Type
 *
 * ============================================================== */

$font-size: 18px;
$line-height: 1.4;
$bold: 700;

$t-sans-serif: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$t-serif: 'Vollkorn', 'Georgia', serif;


/* ==============================================================
 *
 * Media Queries
 *
 * ============================================================== */

$desktop: 1200px;
$tablet: 860px;
$mobile: 580px;


/* ==============================================================
 *
 * Layout
 *
 * ============================================================== */

$container: 1280px;
$container_small: 680px;
$gutter: 24px;

$spacer: 120px;
$spacer-s: 60px;

/* ==============================================================
 *
 * UI
 *
 * ============================================================== */

$ux_timing: .2s;