/* ==============================================================
 *
 * Colors
 *
 * ============================================================== */

$c-white:            #fff;
$c-text-color:       #404040;
$c-link-color:       rgba($c-text-color, .8);
$c-form-placeholder: #aaa;
$c-orange:           #c60;
$c-dull-orange:      rgba($c-orange, .4);
$c-red:              #c00;


/* ==============================================================
 *
 * Type
 *
 * ============================================================== */

$font-size: 16px;
$line-height: 1.4;
$line-height-s: 1.1;
$bold: 700;

$t-sans-serif: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$t-serif: 'Vollkorn', 'Georgia', serif;


/* ==============================================================
 *
 * Media Queries
 *
 * ============================================================== */

$desktop: 1200px;
$tablet: 860px;
$mobile: 580px;


/* ==============================================================
 *
 * Layout
 *
 * ============================================================== */

$container: 1280px;
$container_small: 680px;
$gutter: 24px;

$spacing: 120px;
$spacing-s: 60px;


/* ==============================================================
 *
 * UI
 *
 * ============================================================== */

$transition: .2s;