/* ==============================================================
 *
 * Colors
 *
 * ============================================================== */

$c-white:            #fff;
$c-text-color:       #404040;
$c-link-color:       #666;
$c-form-placeholder: #aaa;
$c-orange:           #c60;
$c-red:              #c00;


/* ==============================================================
 *
 * Type
 *
 * ============================================================== */

$font-size: 18px;
$line-height: 1.4;
$bold: 700;


/* ==============================================================
 *
 * Media Queries
 *
 * ============================================================== */

$desktop: 1200px;
$tablet: 860px;
$mobile: 580px;


/* ==============================================================
 *
 * Layout
 *
 * ============================================================== */

$padding: 20px;
$contentContainer: 680px;


/* ==============================================================
 *
 * UI
 *
 * ============================================================== */

$hoverDuration: .2s;