html {
  font-size: $fz--mobile;

  @include mq($bp--small) {
    font-size: $fz--desktop;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $ff--base;
  line-height: $lh--base;
  background-color: $c--bg;
  color: $c--white;
}

.content > * + * {
  margin-top: 1em;
}
