.site-padding {
  padding: 2rem;
  padding: max(#{$spacing--lg}, 2rem);
}

.lede {
  @include block-text();
  font-size: $fz--huge;
  font-size: clamp(2rem, 10vw, $fz--huge);
  line-height: $lh--header;

  @include mq($bp--small) {
    width: $offset-container;
  }
}

.offset {
  margin-left: 2rem;
  margin-top: 2rem;
  max-width: $max-container;

  @include mq($bp--small) {
    margin-top: $spacing--lg;
    margin-left: $offset-margin;
  }
}

.promo {
  margin-top: $spacing--lg;
  max-width: $max-container;
  font-size: $fz--lg;

  @include mq($bp--small) {
    width: $offset-container;
  }
}
