.projectgallery{
    display: flex;
    flex-wrap:wrap;
    margin-top: 60px;
    margin-bottom: 60px;
}
.projectgallery__thumb{
    flex: 1 0 33.333333%;
    max-width: 33.33333%;
    position: relative;
    overflow: hidden;

    img{
        display: block;
        width: 100%;
    }
}
.projectgallery__link{
    display: block;
    height: 0;
    padding-bottom: 61.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.projectgallery__details{
    display: block;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(#000, .8);
    text-decoration: none;
    opacity: 0;
    // transform: translateX(-100%);
    transition: all .2s;

    .projectgallery__thumb:hover &{
        opacity: 1;
        // transform: translateX(0);
    }
}

.projectgallery__wrap{
    opacity: 0;
    transform: translateY(10px);
    transition: all .2s .1s;

    .projectgallery__thumb:hover &{
        opacity: 1;
        transform: translateY(0);
    }
}

.projectgallery__title{
    color: $white;
    font-weight: $bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.projectgallery__excerpt{
    color: $white;
}
