
$hoverDuration: .2s;

.projectgallery{
    display: flex;
    flex-wrap:wrap;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.projectgallery__thumb{
    overflow: hidden;
    width: 100%;

    @include gt-mobile{
        flex: 1 0 33.333333333%;
        min-width: 340px;
    }

    @include gt-desktop{
        max-width: 50%;
    }    

    img{
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 102%;
        max-width: 102%;
    }
}
.projectgallery__wrapper{
    position: relative;
    height: 0;
    padding-bottom: 61.5%;
}
.projectgallery__details{
    display: block;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000, .8);
    text-decoration: none;
    opacity: 0;
    // transform: translateX(-100%);
    transition: all $hoverDuration;

    .projectgallery__thumb:hover &{
        opacity: 1;
        // transform: translateX(0);
    }
}

.projectgallery__wrap{
    opacity: 0;
    transform: translateY(10px);
    transition: all $hoverDuration .1s;

    .projectgallery__thumb:hover &{
        opacity: 1;
        transform: translateY(0);
    }
}

.projectgallery__title{
    color: $white;
    font-weight: $bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.projectgallery__excerpt{
    color: $white;
}

.projectgallery__promo{
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    text-decoration: none;
    text-align: center;
    font-weight: $bold;
    transition: all $hoverDuration;
    -webkit-font-smoothing: antialiased;
}
.projectgallery__thumb--promo{
    position: relative;

    &:after{
        content:"";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -16px;
        margin-top: -16px;
        width: 32px;
        height: 32px;
        background-image: $icon_plus;
        transform: translateY(0);
        opacity: 0;
        transition: all $hoverDuration;
    }

    &:hover{
        &:after{
            transform: translateY(-20px);
            opacity: 1;
        }

        .projectgallery__promo{
            transform: translateY(0%);
        }
    }
}
