
.entry-header{
    margin-bottom: 2em;
}
.entry-title{
    font-size: 4rem;
    font-weight: $bold;
    line-height: 1.2;
}

.entry-footer{
    margin-top: 2em;
}

.project__wrapper{
    margin-bottom: 120px;
    @include gt-tablet{
        display:flex;
    }
}

.project__main{
    @include gt-tablet{
        max-width: 50%;
        flex: 1;
        padding-right: 40px;
    }
}
.project__media{
    margin-top: 60px;

    @include gt-tablet{
        flex: 1;
        padding-left: 40px;
        margin-top: 0;
    }

    @include lt-mobile{
        margin-left: -15px;
        margin-right: -15px;
    }

    img{
        display: block;
        width: 100%;
    }

    
}
.project__asset{
    margin-bottom: 20px;

    img{
        display: block;
        width: 100%;
    }
}

.embeddable{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
