.site-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .logged-in.admin-bar &{
        top: 32px;
    }
}
.site-branding{
    padding: $padding;
    width: 100px;
    margin: auto;

    svg{
        width: 100%;
    }
}