<footer id="colophon" class="site-footer l-container l-container--small">
    <p>&copy; {{ now.Format "2006" }} | Nick Braica</p>

    <ul class="social">
        <li class="social__network"><a href="https://github.com/braican" target="_blank">GitHub</a></li>
        <li class="social__network"><a href="https://www.instagram.com/braican/" target="_blank">Instagram</a></li>
        <li class="social__network"><a href="https://untappd.com/user/braican" target="_blank">Untappd</a></li>
    </ul>
</footer><!-- #colophon -->