/* ==============================================================
 *
 * Layout
 *  - util layout styles (prefixed with "l-")
 *
 * ============================================================== */

$padding: 20px;
$contentContainer: 680px;

.l-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
}



/**
 * --columns
 */
.l-column-container{
    margin-left: -20px;
    margin-right: -20px;
}
.col{
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}



.col-left{
    float: left;
}
.col-right{
    float: right;
}



/* ------------------------------------
 * --content
 * ------------------------------------*/

.site{
    padding-top: 20vh;

    .home &{
        padding-top: 0;
    }
}

.site-main{
    padding: 0 $padding 60px;
}

.article__intro{
    height: 100vh;
    display: flex;
    align-items: center;
}
.article__introtext{
    font-size: 8vw;
    line-height: 1.2;
}

.article__content{
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    max-width: $contentContainer;
}


