/* ==============================================================
 *
 * Typography
 *
 * ============================================================== */


/* ------------------------------------
 * --font
 * ------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Nunito:200,700');


/* ------------------------------------------
 * --vars
 * ------------------------------------------ */

$font-size: 18px;
$line-height: 1.4;
$bold: 700;


@mixin type-main{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}
@mixin type-secondary{
    font-family: 'Helvetica', 'Arial', sans-serif;
}




/* ------------------------------------------
 * --base
 * ------------------------------------------ */

body,
button,
input,
select,
textarea {
    @include type-main;
    color: $text-color;
    font-size: $font-size;
    line-height: $line-height;
}




/* --------------------------------------------
 * --headers
 * -------------------------------------------- */




/* --------------------------------------------
 * --basic
 * -------------------------------------------- */

p + p{
    margin-top: 1em;
}
a {
    color: $link-color;
}

button,
input[type="submit"]{
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

.a-cta,
.article__content a{
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    transition: all .2s;
    vertical-align: bottom;
    padding-left: 2px;
    padding-right: 2px;
    &:after{
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateY(95%);
        transition: all .2s;
        background-color: $link-color;
        z-index: -1;
    }
    &:hover{
        color: $white;

        &:after{
            transform: translateY(0);
        }
    }
}

/* ------------------------------------
 * --cta
 * ------------------------------------*/

.a-btn,
input.a-btn{
    background-color: $orange;
    padding: .5em 1.5em;
    color: $white;
    text-decoration: none;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    z-index: 3;
    border-radius: 2em;

    &:after{
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: all .2s;
        background-color: $link-color;
        z-index: -1;
    }
    &:hover:after{
        transform: translateY(0);
    }
}

