html {
  font-size: $fs--base;
}

body {
  @include pragmatica;
  font-weight: $fw--normal;
  font-style: normal;
  line-height: $lh--base;
}

.headline {
  @include pragmatica-extended;
  font-size: $fs--base;
  margin-bottom: 1em;
}

.stack > * + * {
  margin-top: 1em;
}

a {
  display: inline-block;
  transition: all 0.25s ease-in-out;
  color: $c--orange;
  text-decoration: none;

  &:hover {
    transform: translateY(-1px);
    color: $c--orange-dark;
  }
}
